# Q1. What is a database? Differentiate between SQL and NoSQL databases.

Ans.
A database is an organized collection of structured information or data, typically stored electronically in a computer system. A database is managed by a database management system (DBMS).

SQL (Structured Query Language) Databases:

Schema-based: SQL databases are table-based, and the schema (structure) must be defined before data is inserted.
Relational: SQL databases are relational databases (RDBMS) that use structured query language for defining and manipulating data.
ACID Compliance: Ensures reliable transactions with properties of Atomicity, Consistency, Isolation, and Durability.
Examples: MySQL, PostgreSQL, Oracle Database, Microsoft SQL Server.
NoSQL (Not Only SQL) Databases:

Schema-less: NoSQL databases are more flexible and can store unstructured data without a predefined schema.
Variety of Data Models: They support various data models such as key-value pairs, document-oriented, column-oriented, and graph-based.
Horizontal Scalability: Designed to scale out by adding more servers easily.
BASE Compliance: Focuses on Basic Availability, Soft state, and Eventual consistency.
Examples: MongoDB, Cassandra, Redis, Couchbase.

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Ans. 
# DDL (Data Definition Language)
is a subset of SQL used to define and manage all the database objects, such as tables, indexes, and views.

# CREATE:
Used to create new database objects like tables, indexes, and databases.
CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100)
);

# DROP:
Used to delete existing database objects.
code: 
DROP TABLE Employees;

# ALTER:
Used to modify existing database objects.code:
ALTER TABLE Employees ADD COLUMN BirthDate DATE;
# TRUNCATE:
Used to delete all rows from a table without logging individual row deletions.
code:
TRUNCATE TABLE Employees;

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Ans.
# DML (Data Manipulation Language)
is used for managing data within schema objects. It includes the operations to insert, update, and delete records.

# INSERT:
Adds new rows to a table.

code:INSERT INTO Employees (EmployeeID, FirstName, LastName, Email)
VALUES (1, 'John', 'Doe', 'john.doe@example.com')

# UPDATE:
Modifies existing data in a table.

code:
UPDATE Employees
SET Email = 'john.newemail@example.com'
WHERE EmployeeID = 1;# DELETE:
Removes existing rows from a table.

code:
DELETE FROM Employees
WHERE EmployeeID = 1;

;

# Q4. What is DQL? Explain SELECT with an example.
Ans. DQL (Data Query Language) is used to query the database and fetch the data from it. The primary command in DQL is SELECT.

# SELECT:
Retrieves data from one or more tables.

code:
SELECT FirstName, LastName, Email

FROM Employes

WHERE EmployeeID = 1;

# Q5. Explain Primary Key and Foreign Key.
Ans.

Primary Key: A field (or combination of fields) that uniquely identifies each record in a table. A table can have only one primary key.


CREATE TABLE Employees (
    EmployeeID INT PRIMARY KEY,
    FirstName VARCHAR(50),
    LastName VARCHAR(50),
    Email VARCHAR(100)
);


Foreign Key: A field (or combination of fields) in one table that uniquely identifies a row in another table. It establishes a relationship between the two tables.


CREATE TABLE Orders (
    OrderID INT PRIMARY KEY,
    OrderDate DATE,
    EmployeeID INT,
    FOREIGN KEY (EmployeeID) REFERENCES Employees(EmployeeID)
);

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector

# Establishing a connection
conn = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Creating a cursor object
cursor = conn.cursor()

# Using execute() to run an SQL query
cursor.execute("SELECT * FROM Employees")

# Fetching the results
results = cursor.fetchall()
for row in results:
    print(row)

# Closing the cursor and connection
cursor.close()
conn.close()

cursor(): This method creates a cursor object, which allows you to execute SQL queries and fetch results.


execute(): This method is used to execute a given SQL query. The query string is passed as an argument to this method.

# Q7. Give the order of execution of SQL clauses in an SQL query.
Ans.

1. FROM: The table(s) from which to retrieve data.
2. JOIN: The join operations to combine tables.
3. WHERE: The filter conditions.
4. GROUP BY: The columns to group the data by.
5. HAVING: The filter conditions on the groups.
6. SELECT: The columns to retrieve.DISTINCT: Removes duplicate rows.
ORDER BY: The columns to sort the data by.
LIMIT: The number of rows to return.